* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.page-link {
  display: flex;
  justify-content: flex-end;
}
.page-link a {
  margin-bottom: 5px;
  color: #65a83d;
}

.bg {
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: -1;
}
.form-container {
  background-color: #fff;
  padding: 25px;
  max-width: 650px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1;
  position: relative;
}

fieldset {
  padding: 20px;
  border: 1px solid #65a83d;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(90deg, #65a83d, #326e0f);
  -webkit-background-clip: text;
  color: transparent;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s ease;
}
input:hover {
  border: 2px solid #65a83d;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #65a83d;
  outline: none;
}

.form-payment {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.form-payment-status {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.btn {
  width: 100%;
  max-width: 80px;
  padding: 8px 10px;
  border: none;
  color: #fff;
  background-color: #65a83d;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.3s ease;
}

.btn:hover {
  background: transparent;
  border: 1px solid #65a83d;
  color: #65a83d;
}
